.card {
  position: relative;

  text-align: left;

  font-size: 0.8em;
  font-weight: bold;

  overflow: hidden;

  padding: 1em;

  width: 11em;
  height: 16em;

  border: 0.2em solid transparent;
  border-radius: 0.4em;

  color: var(--card-txt);
  background-color: var(--card-bg);

  user-select: none;

  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
}

.card__number {
  font-size: 0.8em;
  position: absolute;
  bottom: 1em;
  right: 1em;

  opacity: 0.9;

  margin: 0;
}

.card--question {
  color: var(--card-txt-question);
  background-color: var(--card-bg-question);
}

.card--clickable {
  cursor: pointer;
}

.card--selected {
  border-color: var(--blue);
  color: var(--blue);
}
