.card {
  position: relative;

  text-align: left;

  font-size: 0.8em;
  font-weight: bold;

  padding: 1em;

  width: 11em;
  height: 16em;

  border: 0.2em solid transparent;
  border-radius: 0.4em;

  color: var(--card-txt);
  background-color: var(--card-bg);

  user-select: none;

  transition: border-color 100ms, color 100ms;

  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
}

.card__requiredCards {
  font-size: 0.8em;
  position: absolute;
  bottom: 1em;
  right: 1em;

  opacity: 0.9;

  margin: 0;
}

.card__selectedIcon {
  position: absolute;
  top: -0.75em;
  left: -0.5em;

  margin: 0;
  padding: 0;

  border-radius: 100%;

  width: 2.25em;
  height: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: var(--blue);
}

.card--question {
  color: var(--card-txt-question);
  background-color: var(--card-bg-question);
}

.card--clickable {
  cursor: pointer;
}

.card--selected {
  border-color: var(--blue);
  color: var(--blue);
}
