.button {
  display: grid;
  place-items: center;
  min-width: 1.5em;
  height: 1.5em;
  color: black;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 1.5em;
  cursor: pointer;
}

.button:hover {
  color: rgb(50, 50, 50);
  background-color: rgb(235, 235, 235);
  border-color: white;
}

.button * {
  margin: 0;
  padding: 0;
}

.button.inverse {
  background-color: rgb(25, 25, 25);
  color: white;
}
.button.inverse:hover {
  background-color: white;
  color: rgb(25, 25, 25);
}
.button.outline {
  border-color: currentColor;
}

.button.big {
  font-size: 2em;
}
