.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: max-content;

  padding: 0.5rem 0.75rem;
  padding-right: 1.25rem;

  border-radius: 0.3rem;

  color: var(--txt-col-2);
  background-color: transparent;

  cursor: pointer;

  transition: transform 200ms, box-shadow 200ms;
}

.button.right {
  padding: 0.5rem 0.75rem;
  padding-left: 1.25rem;
  flex-direction: row-reverse;
}

.button.noText {
  padding: 0.5rem 0.75rem;
}

.button > * {
  margin: 0;
  padding: 0;
}

.button:hover {
  color: var(--txt-col-1);
  background-color: var(--button-bg-col-hover);
}

.button:active {
  transform: scale(0.95);
}

.button:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--txt-col-2);
}
