.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "sidebar table table"
    "sidebar table table"
    "sidebar hand hand";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.sidebar {
  grid-area: sidebar;
}

.table {
  grid-area: table;
  background-color: var(--bg-col-2);

  overflow: auto;
}

.hand {
  grid-area: hand;
  background-color: var(--bg-col-1);

  max-height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 40rem) {
  .container {
    grid-template-areas:
      "sidebar"
      "table"
      "hand";

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-auto-flow: row;
  }
}
