.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "sidebar table table"
    "sidebar table table"
    "sidebar hand hand";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.sidebar {
  grid-area: sidebar;
}

.table {
  grid-area: table;
  background-color: var(--bg-col-2);

  overflow: auto;
}

.hand {
  grid-area: hand;
  background-color: var(--bg-col-1);

  max-height: 100%;
  overflow-y: auto;
}

.hand__toggle {
  display: none;
}

@media screen and (max-width: 40rem) {
  .container {
    grid-template-areas:
      "sidebar"
      "table"
      "hand";

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr max-content;
    grid-auto-flow: row;
  }

  .hand__toggle {
    display: block;
    font-size: 2em;

    z-index: 6;

    position: fixed;
    bottom: 0.25em;
    left: 50%;
    transform: translateX(-50%);

    border-radius: var(--border-radius-small);

    background-color: rgba(0, 0, 0, 0.5);
  }

  .hand {
    position: absolute;

    width: 100%;
    bottom: 0;

    height: 0;

    transition: height 100ms;
  }

  .hand.hand--open {
    height: calc(66%);
  }
}
