#card-list {
  display: flex;
}

#card-list > .card:hover {
  margin-left: -1.5em;
  margin-right: 1.5em;
  transform: translateY(-0.5em);
  z-index: 1;
}

#card-list > .card:not(:hover) {
  margin-left: -2em;
  z-index: 1;
}

#card-list > .card.selected {
  transform: translateY(-2em);
  margin-right: 1.5em;
}
