@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

#cards {
	background-color: rgb(128, 128, 128, 0.2);
	width: auto;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 15em;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#confirm-cards {
	border-radius: 50em;
	backdrop-filter: blur(1em);
	position: fixed;
	display: grid;
	place-content: center;

	width: max-content;

	margin: 0 2em;
	z-index: 5;
}

#card-disable-message {
	display: grid;
	place-content: center;

	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;
	margin: 0;

	color: white;
	background-color: rgba(0, 0, 0, 0.35);
	z-index: 9;

	animation: fade-in 200ms;
}
