.hand {
  overflow: auto;

  max-height: 50vh;
}

.hand__inner {
  display: flex;
  overflow-x: auto;

  max-width: max-content;
  margin: 1em auto;

  padding: 1em;
}

.submit {
  position: sticky;
  top: 0px;
  display: flex;

  transform: translateY(-1px);

  font-size: 1.25em;
  padding: 0.25em;

  background-color: var(--bg-col-1);
  z-index: 5;
}

.card {
  margin: 0 auto;
  transition: transform 100ms;
}

.card:hover {
  z-index: 3;
  transform: scale(1.05);
}

.card--selected {
  z-index: 2;
  transform: scale(1.05);
}

.hand--disabled {
  opacity: 0.25;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 40rem) {
  .submit {
    justify-content: center;
  }

  .hand__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8.25em, 1fr));

    max-width: 100%;
  }
}
