.hand {
  overflow: hidden;
  height: 100%;
}

.hand__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5em, 1fr));
  gap: 0.25em;

  overflow-y: auto;
  height: 100%;
  margin: 1em 0;
  padding: 1em;
}

.hand__inner > * {
  margin: 0 auto;

  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.25);
  transition: transform 100ms, box-shadow 100ms;
}

.hand__inner > *:hover {
  transform: scale(1.075);

  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.hand--disabled {
  opacity: 0.25;
  pointer-events: none;
  user-select: none;
}
