.createForm {
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.gameSection {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.submit {
  position: relative;
  width: max-content;
}

.submit__loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;

  backdrop-filter: blur(1px);
}
