.container.wide {
  min-width: 40em;
  width: 50vw;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

#cards {
  display: grid;
  border-radius: 0.25em;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  height: 18em;
  overflow: hidden;
  overflow-y: auto;
}

#card-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 18em;
}

#question {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

#question div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

#card-form section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  gap: 0.5em;
}

#card-form section input {
  height: 1.75em;
  padding: 0.2em;
}
