#Home {
  margin: 0 auto;
  padding: 2em;

  display: flex;
  flex-direction: column;

  width: 20em;
  margin-top: 50vh;
  height: 35em;
  transform: translateY(-50%);
  gap: 1.5em;

  border-radius: 0.75em;
  color: white;
  background-color: rgb(25, 25, 25);
}

.link {
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-evenly;
}
