.container {
  display: grid;
  grid-template-areas:
    "players main chat"
    "players main chat";

  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-auto-rows: 1fr;
  gap: 0.5em;

  margin: 0 auto;
  padding: 0.5em;

  height: 100vh;

  background-color: var(--bg-col-0);
}

.main {
  grid-area: main;
  height: max-content;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;

  border-radius: var(--border-radius);
}

.chat {
  grid-area: chat;
  width: 20em;
  height: 90vh;

  padding: 0em;

  background-color: var(--bg-col-1);
}

.hostPanel {
  padding: 0.25em;

  border-radius: var(--border-radius);
}

.matchInfo {
  width: max-content;
  margin: 0 auto;
  padding: 3em 5em;

  text-align: center;
  display: grid;
  place-content: center;

  border-radius: var(--border-radius);

  color: var(--txt-col-2);
}

.matchInfo > h1 {
  color: var(--txt-col-1);
}

.code {
  display: flex;
  place-content: center;

  padding: 0.5em;

  border-radius: var(--border-radius);

  color: var(--txt-col-1);
  background-color: var(--bg-col-2);
}

.code__input {
  font-size: 3.5em;
  width: 6ch;

  padding: 0.2em;

  text-align: center;

  background-color: transparent;
  color: var(--txt-col-0);

  border: 0;

  cursor: pointer;
}
