.container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;

  margin: 0 auto;
  padding: 0.5em;

  height: 100vh;

  background-color: var(--bg-col-0);
}

.main {
  position: relative;
  top: 15%;

  display: flex;
  flex-direction: column;
  gap: 4em;

  width: 100%;
  max-width: 55em;
  height: max-content;

  margin: 0 auto;
}

.chat {
  width: 20em;
  height: 90vh;

  padding: 0em;

  background-color: var(--bg-col-1);
}

.matchInfo {
  width: max-content;
  margin: 0 auto;
  padding: 3em 5em;

  text-align: center;
  display: grid;
  place-content: center;

  border-radius: var(--border-radius);

  color: var(--txt-col-2);
  background-color: var(--bg-col-1);
}

.matchInfo > h1 {
  color: var(--txt-col-1);
}

.code {
  display: flex;
  place-content: center;

  padding: 0.5em;

  border-radius: var(--border-radius);

  color: var(--txt-col-1);
  background-color: var(--bg-col-2);
}

.code__input {
  font-size: 3.5em;
  width: 6ch;

  padding: 0.2em;

  text-align: center;

  background-color: transparent;
  color: var(--txt-col-0);

  border: 0;
}
