.game {
  display: flex;
  align-items: center;
  gap: 1em;

  padding: 0.25em;
}

.game__join {
  margin-left: auto;
}

.game__players {
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: bold;
  color: var(--txt-col-1) !important;
}

.game__packs {
  width: 100%;

  padding: 0;

  list-style-type: none;
}
