#header {
  margin-bottom: 4em;
}

.controls {
  position: sticky;
  top: 3em;

  display: flex;

  padding: 1em;
  background-color: var(--bg-col-1);
}

.list {
  list-style-type: none;
  padding: 0;

  min-height: 20em;

  overflow: auto;
}

.list > * + * {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
}

.list__card {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.list__card--question {
  background-color: rgba(0, 0, 0, 0.25);
}

.list__card p {
  margin: 0.1em 0;
}

.card__requiredCards {
  min-width: max-content;
  color: var(--txt-col-1) !important;
}
