.player {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.player * {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.czar,
.host {
  font-size: 1.2em;
  cursor: help;
}
