html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --bg-col-0: rgb(30, 30, 30);
  --bg-col-1: rgb(30, 30, 30);
  --bg-col-2: rgb(45, 45, 45);

  --txt-col-1: rgb(245, 245, 245);
  --txt-col-2: rgb(173, 181, 185);
  --txt-col-3: rgb(127, 136, 139);

  color: var(--txt-col-1);
  background-color: var(--bg-col-0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0;
  display: grid;
  place-content: center;
}

.container {
  width: 90vw;
  max-width: 55rem;

  padding: 3rem 1.5rem;

  border-radius: 0.3rem;

  background-color: var(--bg-col-1);
}

@media all and (max-width: 20rem) {
  :root {
    font-size: 0.9rem;
  }
}
